@import "~antd/dist/antd.css";

.site-layout-content {
  background: #fff;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  min-height: 69.2vh;
}

.todo-form-container,
.todo-list-container {
  width: 100%;
}

.todo-form-container .ant-form { 
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.todo-list-container .ant-list {
  margin: 1.2em;
}

.ant-typography.page-header-title {
  text-align: center;
}
